<!DOCTYPE html>
<html>

   <head>
      <title>ADD STUDENT DETAILS</title>
      <link rel="stylesheet" type="text/css" href="/style4.css">
    </head>
	
   <body>
    <h1>ADD STUDENT</h1>
     <div class="details">
       
      
      <form id="addstudent" method="POST"  role="form" enctype="multipart/form-data">
        <a1>
          Student_Id: <input type = "text" name = "sid" />
         </a1>
        <br> <br>
         <a1>
         First_name: <input type = "text" name = "fname" />
         </a1>
        <br> <br>
        <a1> Last_name: <input type = "text" name = "lname" /></a1><br>
	<a2>
        <h3>Department: </h3>
     
	<input type="radio" id="CSE" name="dept" value="CSE">CSE 
	<input type="radio" id="IT" name="dept" value="IT"> IT
        
        </a2>
        <br> <br>
       <a2>
       Year: <input type="radio" id="I" name="year" value="I">I
       
       <input type="radio" id="II" name="year" value="II">II
      
       <input type="radio" id="III" name="year" value="III">III
       
       <input type="radio" id="IV" name="year" value="IV">IV
       
       </a2>
      <br> <br>
       <a2>
       Section: <input type="radio" id="A" name="sec" value="A">A
       
       <input type="radio" id="B" name="sec" value="B">B
  
       <input type="radio" id="C" name="sec" value="C">C
       </a2>
       <br> <br>


       <a3>
        <input type="submit" onclick="window.alert('Successfully Added')" name="Add" value="Add">
        <input type="reset" name="Cancel" value="Cancel">
       </a3>
       <br> 
       
 
  </label>
  
      </form>
   </body>
 	
</html>