<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style2.css">
<body>
    <H1>BOOK DETAILS</H1>
    <form id="book_details" method="post"  role="form" enctype="multipart/form-data">
        <div class ="details">
        <p>Book_number:</p>
        <input type="text" name="b_num" >
        <br><br>
        <p>Book_name:</p>
        <input type="text" name="b_name" >
        <br><br>
        <p>Author_name:</p>
        <input type="text" name="author_name" >
        <br><br>
        <p>No_of_copies</p>
        <input type="text" name="copies" >
        <br><br>
        

        <a>
        <input type="submit" onclick="window.alert('Successfully Added')" name="Add" value="Add">
        <input type="reset" name="Cancel" value="Cancel">
        </a>

        </div>
    </form>
</body>