<html>
<head>
<title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="/style5.css">
<body>
    <div class="loginbox">
        <h1>DELETE STUDENT</h1>
        <br>
        <form id="deletestudent" action="/deletestudent" method="POST"  role="form" enctype="multipart/form-data">
            <p>Student_Id:</p>

            <input type="text" name="sid">
            <br>
            <br>
            
            <input type="submit"  onclick="window.alert('Successfully Deleted')" name="Delete" value="Delete">
            <input type="reset" name="Cancel" value="Cancel">
        </form>
        
    </div>

</body>
</head>
</html>