<html>
<head>
<title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="/style3.css">
    
<body>
    <div class="loginbox">
        <h1>DELETE BOOK</h1>
        <br>
        <form  id="delete_book" action="/deletebook" method="POST"  role="form" enctype="multipart/form-data">
            
            <p>Book_number:</p>
            
            <input type="text" name="b_num" >
            <br>
        
            <br>
            <input type="submit" onclick="window.alert('Successfully Deleted')" name="Delete" value="Delete">
            <input type="reset" name="Cancel" value="Cancel">
        </form>
        
    </div>

</body>

</head>
</html>