<html>
<head>
<title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/style1.css">
<body>
    <div class="loginbox">
    <a>
       <button id="b1" onclick="window.location.href='/addbook'">Add Book</button> <br>
       <button id="b2" onclick="window.location.href='/deletebook'">Delete Book</button> <br>
       <button id="b3" onclick="window.location.href='/addstudent'">Add Student</button> <br>
       <button id="b4" onclick="window.location.href='/deletestudent'">Delete Student</button> <br>
       <button id="b5" onclick="window.location.href='/updatebook'">Update Book Details</button> <br>
       <button id="b6"  onclick="window.location.href='/search'">Search</button> <br>
       <button id="b7" onclick="window.location.href='/display'">Display</button> <br>
       <button id="b8"  onclick="window.location.href='/issuebook'">Issue Book</button> <br>
       <button id="b9" onclick="window.location.href='/issuedbooks'">Issued Books</button>
    </a>
    </div>
</body>
</head>
</html>