<html>
<head>
<title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
<body>
    <div class="loginbox">
        <img src="avatar.png" class="avatar">
        <h1>Login Here</h1>
        <form id = "login" method="post"  role="form" enctype="multipart/form-data">
            <p>Username</p>
            <input type="text" id="username" name="username" placeholder="Enter Username" >
            <p>Password</p>
            <input type="password" id="password" name="password" placeholder="Enter Password">
            <input type="submit" id="submit" name="submit" value="Login">
           
        </form>
        
    </div>

</body>
</head>
</html>