<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style2.css">
</head>
<body>
    <H1>ISSUE BOOK</H1>
    <form id="issuebook" method="POST"  role="form" enctype="multipart/form-data">
        <div class ="details">
        <a1>
        <p>Book_Id:</p>
        <input type="text" name="bnum">
        </a1>
        <br>
        <a2>
        <p>Book_name:</p>
        <input type="text" name="bname" >
        </a2>
        <br>
        <a3>
        <p>Student_name:</p>
        <input type="text" name="s_name" >
        </a3>
        <br>
        <a4>
        <p>Student_Id:</p>
        <input type="text" name="s_id" >
        </a4>
        <br>
        <a5>
        <p>Date_of_issue:</p>
        <input type="text" name="date" >
        </a5>
        <br><br>
        <a6>
        <input type="submit" onclick="window.alert('Issue Recorded')" name="Issue" value="Issue">
        <input type="reset" name="Cancel" value="Cancel">
        </a6>
        </div>
    </form>
</body>
</html>