<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>SEARCH MOVIE</title>
   
    
</head>

<body>
    <div class="loginbox"></div>
    <h1>SEARCH MOVIE</h1>
       <form  id="search" action="/search" method="POST"  role="form" enctype="multipart/form-data">
              
         <b> <p>Title:</p>
         <input type="text" name="title" >
         </b>
         <br>
          <input type="submit" name="Search" value="Search">
             <input type="reset" name="Cancel" value="Cancel">
        </form>
    </div>
    
    </div>
         
</body>
</html>