<html>
<head>
<title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="/style3.css">
    
<body>
    <div class="loginbox">
        <h1>UPDATE BOOK DETAILS</h1>
        <br>
        <form  id="updatebook" method="POST"  role="form" enctype="multipart/form-data">
            
            <p>Book_number:</p>
            
            <input type="text" name="b_num" >
            <br>
            <br>
            <br>
            <p>No_of_Copies:</p>
            
            <input type="text" name="copies">
            <br>
            <input type="submit" onclick="window.alert('Successfully Updated')" name="Update" value="Update">
            <input type="reset" name="Cancel" value="Cancel">
        </form>
        
    </div>

</body>

</head>
</html>